<style>
body {
    background: #4a5567;
    background: linear-gradient(to right, #4c576d, #444f63);
}

#pg-960{

    /*  width: 960px;
     margin-left: auto;
    margin-right: auto;*/

    margin-left: 10px;
    width: 75%;
}

#right{
    float: right;
    margin-right: 30px;
    width: 250px;

}

</style>

<div id="right">
    <div class="panel panel-default" >
        <div class="panel-heading ">Mes actions</div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">Modifier mon status</a></li>
                <li role="presentation"><a href="#">Voir mon profil</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default" >
        <div class="panel-heading ">Journal d'appel</div>
        <div class="panel-body">

        </div>
    </div>

</div>

<div id="pg-960">


    <div class="panel panel-primary">
       <!-- <div class="panel-heading ">Ces utilisateurs semblent pouvoir vous aider...</div>-->

        <div class="row">

            <div class="col-md-2" ng-repeat="user in users">
                <img src="../resources/images/users/{{user.picture}}" class="thumbnail">

                <div class="col-md-12">
                    <span>{{user.username}}</span>
                </div>
                <div class="col-md-4">
                    <img src="../resources/images/flags/{{user.flag}}">
                </div>

                <div class="col-md-4">
                    <img src="../resources/images/icons/available.png" width="16px">
                </div>

                <div class="col-md-4">
                    <a onclick="Skype.tryAnalyzeSkypeUri('call', '0');" href="skype:" {{user.skp}}?call" />
                        <img role="Button" src="../resources/images/icons/call.png" width="16px">
                    </a>
                </div>

            </div>

        </div>

    </div>

    <button type="button" class="btn btn-primary">view all</button>
</div>