<div id="signup">
    <div ng-if="currentStep === '1'">
        <div id="welcome-message">
            <h1>Bonjour !</h1>
            <h1><small>Comment vous appelez-vous ?</small></h1>
        </div>
        <!--    name form-->
        <form novalidate ng-submit="submit()" class="signin-form-username">
            <div class="username-icon"><span class="glyphicon glyphicon-user"></span></div>
            <input ng-model="user.name" type="text" placeholder="Entrez un nom d'utilisateur..."/>
            <div ng-click="submit()" class="button button-fullwidth">Suivant</div>
        </form>
    </div>
         
    <div ng-if="currentStep === '2'">
        <div id="welcome-message">
            <h1>Bonjour, {{user.name}} !</h1>
            <h1><small>Quelles langues parlez-vous ?</small></h1>
        </div>
        <!--Spoken languages list-->
        <div class="tag-list">
            <span class="tag" ng-repeat="language in user.spokenLanguages track by $index">{{language}}&nbsp;<span class="glyphicon glyphicon-remove-circle" ng-click="removeTag($index)"></span></span>
        </div>
        <!--spoken languages form-->
        <form novalidate ng-submit="submit()" class="signin-form-username">
            <div class="username-icon"><span class="glyphicon glyphicon-comment"></span></div>
            <input ng-model="user.newLanguage" type="text" placeholder="Entrez une langue..."/>
            <div ng-click="goToStep(1)" class="button button-left">Précédent</div>
            <div ng-click="goToStep(3)" class="button button-right">Suivant</div>
        </form>
    </div>
</div>